/* EXTERNAL CSS STYLING */
#a{
    color: rgb(41, 11, 235);
    background-color: rgb(115, 205, 253);
    padding: 10px 10px;
    font-style: italic;
    margin: 10px 10px;
    }
.x{
    color: blue;
    background-color: rgb(243, 222, 66);
    padding: 10px 10px;
    font-style: italic;
    margin:10px 10px;
    }
